body {
  margin: 0;
  padding: 100px;
  font-family: sans-serif;
  background: blue;
}

ol {
    list-style-type: upper-roman;
    list-style-position: outside;
    color: white;
    padding: 0;
    background: blue;
}

button {
    align-content: center;
    margin: 0rem 0rem 0.25rem 2rem;
    color: red;
}

li {
    background: #fafbfc;
    padding: 5px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

h1 {
    color:white;
    background: blue;
}
