.App {
    width: 30rem;
}

body {
  margin: 0;
  padding: 20px 100px 20px 100px;
  font-family: sans-serif;
  background: white;
}

ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
    color: white;
    padding: 0;
    background: blue;

}

button {
    align-content: center;
    margin: 0rem 0rem 0.25rem 1rem;
    color: red;
    align-content: flex-end;
}

li {
    background: blue;
    padding: 5px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    text-align: left;
}

h1 {
    color:black;
    background: white;
}
